/* ------------------------------ reset cssここから */

/**
 * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
 * http://cssreset.com
 */
 html, body, div, span, applet, object, iframe,
 h1, h2, h3, h4, h5, h6, p, blockquote, pre,
 a, abbr, acronym, address, big, cite, code,
 del, dfn, em, img, ins, kbd, q, s, samp,
 small, strike, strong, sub, sup, tt, var,
 b, u, i, center,
 dl, dt, dd, ol, ul, li,
 fieldset, form, label, legend,
 table, caption, tbody, tfoot, thead, tr, th, td,
 article, aside, canvas, details, embed,
 figure, figcaption, footer, header, hgroup,
 menu, nav, output, ruby, section, summary,
 time, mark, audio, video {
     margin: 0;
     padding: 0;
     border: 0;
     font-size: 100%;
     font: inherit;
     vertical-align: baseline;
 }
 /* HTML5 display-role reset for older browsers */
 article, aside, details, figcaption, figure,
 footer, header, hgroup, menu, nav, section {
     display: block;
 }
 body {
     line-height: 1;
 }
 ol, ul {
     list-style: none;
 }
 blockquote, q {
     quotes: none;
 }
 blockquote:before, blockquote:after,
 q:before, q:after {
     content: '';
     content: none;
 }
 table {
     border-collapse: collapse;
     border-spacing: 0;
 }
 /* ------------------------------ reset cssここまで */


 /*-------------ここから記載--------------------------*/
html {
    font-size: 62.5%;
}

header{
    background-color: aqua;
}

/*---------ここからABOUT-----------------------*/
.title h2, .title h3 {
    color: #597250;
    font-weight: 500;
    font-family: aktiv-grotesk,sans-serif;
    line-height: 1.25;
    letter-spacing: .06em;
}

.about-left {
    width: 50%;
    padding-top: 14.5rem;
}

/*---------ここまでABOUT-----------------------*/

div.contents div.top {
    background-color: blue;
}

div.contents section.about {
    background-color: gray;
}

div.contents section.strength {
    background-color: khaki;
}

div.contents section.product {
    background-color: green;
}


div.contents section.flow {
    background-color:royalblue;
}

div.contents section.faq {
    background-color: beige;
}

div.contents section.form {
    background-color: olive;
}

div.contents section.contact {
    background-color: orange;
}

div.contents section.footer {
    background-color: olivedrab;
}